[Unit]
Description=Biboumi, XMPP to IRC gateway
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/biboumi /etc/biboumi/biboumi.cfg
ExecReload=/bin/kill -s USR1 $MAINPID
ExecStop=/bin/kill -s INT $MAINPID
WatchdogSec=10
Restart=always
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
